{% extends 'frontend/base.html' %}
{% block title %}Escrow Acts - Digiland{% endblock %}
{% block content %}
<div class="row pt-4 pb-5">
    <div class="col-12 text-center mb-5">
        <h1 class="display-3 fw-bold" style="letter-spacing: -1.5px;">Regulatory Acts</h1>
        <p class="lead text-muted max-w-75 mx-auto">Operating fully compliant with Kenyan Financial Protocols.</p>
    </div>
    <div class="col-md-8 mx-auto bg-white p-5 rounded-4 shadow-sm border">
        <h3 class="fw-bold mb-3">Compliance Matrix</h3>
        <p class="fs-5 text-muted mb-4">We are legally mandated under strict financial service codes. The Escrow vaults are heavily monitored by regional banking sectors to prevent AML (Anti-Money Laundering).</p>
        <h3 class="fw-bold mb-3">Mediation Protocols</h3>
        <p class="fs-5 text-muted">In the event of a "Disputed" transaction state, the funds are rigorously frozen while our legal architecture intervenes with structural mandates.</p>
    </div>
</div>
{% endblock %}
